<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New fight opponent</h1>

  <%= render "form", fight_opponent: @fight_opponent %>

  <%= link_to 'Back to fight opponents', fight_opponents_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
