/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


@keyframes flyFromRight {
  0% {
    left: 1200px;
    opacity: 0;
  }
  60% {
    left: -100px;
    opacity: 1;
  }
  100% {
    left: 0px;
  }
}

@keyframes flyFromLeft {
  0% {
    right: 1200px;
    opacity: 0;
  }
  60% {
    right: -100px;
    opacity: 1;
  }
  100% {
    right: 0px;
  }
}

.animated {
  animation-duration: 1s;
  &.bounceIn {
    animation-name: bounceIn;
  }

  &.flyFromRight {
    animation-name: flyFromRight;
  }

  &.flyFromLeft {
    animation-name: flyFromLeft;
  }
  position: relative;
}
